/* Style CSS ici */



/* CSS de test (à supprimer après) */

erreur {
    font-weight: bold;
}

em {
    font-weight: bold;
    color: #cb0003;
}

nom_listes {
    font-size: 18pt;
    font-weight: bold;
    color : #005cbf;
}

dates {
    font-size: 10pt;
    color : #4b9fff;
}


body {
    margin:0;
    font:normal 75% Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    //background-color: #232741;
    //background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/200px-International_Pok%C3%A9mon_logo.svg.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% -250%;
}

/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px; left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}



.js-count-particles {
    font-size: 1.1em;
}

#stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.imgmenu {
    background-image: url("assests/parametre.png");
}


.barre-recherche{

}

img.small {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    display: block;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}